<div class="pusher">
    <div class="ui main text container segment">
        <div class="ui huge header"><%= post.title %></div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui fluid image centered rounded" src="<%= post.image%>" alt="<%=post.title %> main image">
                <div class="single-post-meta-content">
                    <span><%= post.createdAt.toDateString() %></span>
                </div>
                <div class="description">
                    <div class="single-post-body"><%- post.body %></div>
                    <div class="single-post-meta-content"><span>Written by <%=`${post.author.firstName} ${post.author.lastName}` %></span> </div>
                </div>
                <% if(currentUser) {%>
                    <% if(currentUser.role === 'admin' || currentUser.role === 'editor' || post.author.id.equals(currentUser._id)) {%>
                    <form id="edit-post"action="/blog/<%= post.slug %>/edit">
                        <button type="submit" class="ui yellow button">Edit</button>
                    </form>
                    <%}%>
                    <% if(currentUser.role === 'admin' || post.author.id.equals(currentUser._id)) {%>
                    <form id="delete-post" action="/blog/<%= post._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="ui red button">Delete</button>
                    </form>
                    <%}%>
                <% } %>           
            </div>
        </div>
    </div>
</div>
 <link rel="stylesheet" type="text/css" href="/tinymce/prism.css">
<script src="/tinymce/prism.js"></script>